body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171710;
    font-family: 'Varela Round';font-size: 35px
}

.calculator-container{
    height: 670px;
    width: 500px;
    padding: 2%;
    border: 2px solid #595E60;
    border-radius: 10px;
    margin: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-display{
    /* font-size: 35px; */
    border: 2px solid #595E60;
    border-radius: 10px;
    padding: 2%;
    text-align: end;
    width: 90%;
    height: 60px;
}

.numbers-equal-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin-left: 0%;
    justify-content: center;
    box-sizing: border-box;
}

.number, .equals{
    width: 60px;
    height: 60px;
    padding: 2%;
    background-color: #B0B7C0;
    border-radius: 10px;
    margin: 2%;
    /* font-size: 30px; */
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.equals{
    width: 46%;
}

.numbers-operands-container{
    display: flex;
}

.operands-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width:30%;
    height: 100%;
    margin: 3%;
    /* margin-top: 6%; */
    box-sizing: border-box;
}
.operand{
    width: 100px;
    height: 60px;
    padding: 3%;
    background-color: #B0B7C0;
    border-radius: 10px;
    /* margin: 3%;  */
    /* font-size: 30px; */
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.clear-container{
    display: flex;
    margin: 3%;
}

.all-clear{
    width: 150px;
    height: 60px;
    padding: 2%;
    background-color: #B0B7C0;
    border-radius: 10px;
    margin: 2%;
    font-size: 20px; 
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.delete{
    width: 150px;
    height: 60px;
    padding: 2%;
    background-color: #B0B7C0;
    border-radius: 10px;
    margin: 2%;
    font-size: 20px; 
    font-weight: 700;
    text-align: center;
    align-content: center;
}